.header {
    position: absolute;
    width: 100%;
    top: 0;
    padding: 20px 0;
    z-index: 9;
}

.wrapper {
    position: relative;
    background-size: cover;
}

.slider_item {
    position: relative;
}

.slider img {
    width: 100%;
    height: auto;
}

.location {
    display: inline-block;
    margin-right: 50px;
}

.location_item {
    display: inline-block;
}

.location_item:after {
    content: "|";
    color: white;
    margin-left: 4px;
}

.location_item:last-child:after {
    display: none;
}

.location_item a {
    font-size: 14px;
    color: white;
    text-decoration: none;
}

.logoPage {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-style: italic;
}

.secondR {
    float: right;
}

.firstL {
    float: left;
    padding-top: 10px;
}

.loc {
    display: inline-block;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn {
    position: relative;
    display: inline-block;
    border: 1px solid #fff;
    padding: 9px;
    font-size: 14px;
    font-style: italic;
    margin-left: 50px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.btn:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    width: 0;
    content: ' ';
    transition: .3s;
    background-color: #3498db;
    z-index: -1;
}

.btn:hover {
    border-color: dodgerblue;
}

.btn:hover:after {
    width: 100%;
    transition: .3s;
}

.logoPage:hover,
.loc:hover {
    color: dodgerblue;
}


.logo {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 333px;
    height: 112px;
    margin: auto;
    background: url("../images/dego0.png") no-repeat;
}

article {
    padding: 20px 0;
}

.left {
    float: left;
    width: 70%;
    padding: 0 40px 0 40px;
}

h1 {
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 36px;
}

.social_icon {
    display: inline-block;
    margin-right: 20px;
}

.social_icon a {
    display: block;
}

.text_one {
    font-style: italic;
    font-family: serif;
    font-size: 30px;
    margin: 0 0 25px 0;

}

.text_two {
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}

.employer_right {
    float: right;
    width: 30%;
}

.employer_item {
    width: 50%;
    float: right;
    font-size: 0;
}

.employer_item img {
    width: 100%;
    height: auto;
}

.section_wrapper {
    position: relative;
    background-size: cover;
}

.section_wrapper_item {
    position: relative;
}

.section_wrapper_item img {
    width: 100%;
    height: auto;
}

.section_wrapperTitle {
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 48px;
    font-family: sans-serif;
    text-transform: uppercase;

}

.btn_section {
    display: block;
    width: 210px;
    padding: 15px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 90px;
    margin: auto;
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    z-index: 1;
}

.footer {
    background-color: black;
    padding: 15px 0;
}

.footer_item {
    font-size: 14px;
    float: left;
    width: 25%;
}

.logoPage_color {
    color: #7a7a7a;
}

.email {
    color: #aaa;
}

.telNumber {
    color: #aaa;
    text-decoration: none;
}

.footer_sp {
    color: #7e7e7e;
}

.footer_sp a {
    color: #7e7e7e;
}

.slick-next,
.slick-prev {
    position: absolute;
    top: 50%;
    display: block;
    cursor: pointer;
    width: 32px;
    height: 32px;
    color: transparent;
    border: none;
    outline: none;
    opacity: 0.5;
    background: transparent;
    z-index: 1;
}

.slider_wrapper .slick-next,
.slider_wrapper .slick-prev {
    width: 64px;
    height: 64px;
}

.slick-next.slick-arrow {
    background: url("../images/right-arrow.png")  no-repeat;
    background-size: cover;
    right: 25px;
}

.slick-prev.slick-arrow {
    background: url("../images/left-arrow.png")  no-repeat ;
    background-size: cover;
    left: 25px;
}

.slick-prev:hover,
.slick-next:hover {
    opacity: 1;
}

.window {
    width: 500px;
    height: 200px;
    padding: 15px;
}
.window p {
    font-size: 16px;
    font-style: italic;
}
